<!-- Dans le fichier profile.html.twig -->
<h3>Mon Avatar</h3>
<img src="{{ avatarPrincipal.path }}" alt="Avatar Principal" />
<form action="{{ path('user_change_avatar', {'id': user.id}) }}" method="post">
    <select name="avatar_id">
        {% for achatAvatar in achatsAvatars %}
            <option value="{{ achatAvatar.id }}" {% if achatAvatar == user.avatarPrincipal %}selected{% endif %}>
                {{ achatAvatar.name }}
            </option>
        {% endfor %}
    </select>
    <button type="submit">Changer mon avatar</button>
</form>
