{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
    <h1>Mon Profil</h1>
    <p>Points : {{ app.user.points }}</p>
    <p>Avatar actuel :</p>
    <img src="{{ asset(user.avatar.imagePath) }}" alt="Mon Avatar">
{% endblock %}
